<form>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firtname">First name: </label>
        <label for=""><%= @customer.first_name %></label>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastname">Last name: </label>
        <label for=""><%= @customer.last_name %></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="dob">Date of Birthday: </label>
        <label for="dob"><%= @customer.date_of_birth %></label>
      </div>
      <div class="col-md-3 mb-3">
        <label for="phone">Phone Number:</label>
        <label for="phone"><%= @customer.phone_number %></label>
      </div>
      <div class="col-md-3 mb-3">
        <label for="email">Email:</label>
        <label for="phone"><%= @customer.email %></label>
      </div>
    </div>
      <%= link_to 'Edit', edit_customer_registration_path, class: 'btn btn-primary' %>
  </div>
</form>
