<% if @order.nil? && @order.errors.any? %>
	<ul>
		<% @order.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>
<% if @order.items.size > 0 %>
	<div class="container">
		<h2>My Shopping Cart</h2>
		<br/>
		<br/>
		<table class="table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Quantity</th>
					<th></th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
			<% @order.items.each do |item| %>
				<%= form_for(item, remote: true) do |f| %>
					<%= f.hidden_field :product_id, value: item.product.id %>
						<tr>
							<td><%= item.product.name %></td>
							<td><%= f.text_field :qnty, value: item.qnty.to_i, min: 1, class: 'form-control form-control-sm' %></td>
							<td><%= f.submit "Update Quantity", class: 'btn btn-primary' %>
									<%= link_to "Delete", item, method: :delete, remote: true, class: 'btn btn-danger'  %>
							</td>
							<td><%= number_to_currency(item.product.price) %></td>
						</tr>
				<% end %>
			<% end %>
			<tr>
				 <th scope="row">Subtotal: </th>
				 <td colspan="2"></td>
				 <td><%= number_to_currency(current_order.subtotal) %></td>
		 	</tr>
			<% if (current_customer.province.pst != 0) %>
				<tr>
					 <th scope="row">PST (<%= current_customer.province.pst %>)%:</th>
					 <td colspan="2"></td>
					 <td><%= number_to_currency(current_order.pst) %></td>
			 	</tr>
			<%end%>
			<% if (current_customer.province.gst != 0) %>
				<tr>
					 <th scope="row">GST (<%= current_customer.province.gst %>)%:</th>
					 <td colspan="2"></td>
					 <td><%= number_to_currency(current_order.gst) %></td>
			 	</tr>
			<%end%>
			<% if (current_customer.province.hst != 0) %>
				<tr>
					 <th scope="row">HST (<%= current_customer.province.hst %>)%:</th>
					 <td colspan="2"></td>
					 <td><%=number_to_currency(current_order.hst) %></td>
				</tr>
			<%end%>
			<tr>
				 <th scope="row">TOTAL: </th>
				 <td colspan="2"></td>
				 <td><b><%=number_to_currency(current_order.total) %></b></td>
			</tr>
		</tbody>
		</table>
	</div>
<% end %>
